body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.brand-logo{
    left: 5%;
    position: relative;
}

.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 1); }

nav{
    height: 70px;
}
.taxi-image{
    background-image: url("../assets/images/taxi.png");
    background-size: cover;
    height: 700px;
}

h4, h5, h6{
    font-weight: 600;
}

.btn-flat{
    border-radius: 6px;
}

.btn-become{
    text-transform: initial;
}

.row{
    margin-bottom: 0;
}

.space{
    position: relative;
    top: 220px;
}

.middle-section{
    padding: 2.5em;
}

.white-border{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-left: 0;
}

.arrive{
    padding: 2em 0em 2em 0em;
    margin: 0;
}


.drive{
    background-image: url("../assets/images/conduce.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
}

.iphone, .description{
    margin: 2em 0em;
    font-size: 1.2em;
    line-height: 2em;
}

.become-driver{
    background-color: rgba(0, 0, 0, 0.5);
    height: 500px;
}

.align{
    margin: 8px 20px;
    position: relative;
    left: 40px;
    top: 180px;
}

.btn-text{
    color: white;
    font-weight: 600;
    text-transform: initial;
}


.last-btn{
    font-weight: 600;
    left: 25%;
    margin-bottom: 3em;
    margin-top: 1em;
    padding: 0em 2.5em;
    position: relative;
}

input[type=text]:not(.browser-default){
    border: 1px solid #fafafa;
    border-radius: 10px;
    margin-bottom: 0.2em;
}
.prefix{
    color: white;
}

.input-field:last-child{
    display: inherit;
    position: relative;
}

span{
    left: 10px;
    position: relative;
}

.last-logo{
    padding-bottom: 1em;
    padding-top: 3em;
}

.fab, .fas{
    margin: 5px;
    position: relative;
    /* align-items: flex-end; */
    top: 280px;
}

.info-down{
    line-height: 2.5em;
}

.oficial img{
    height: auto;
    margin: 0.5em 0em;
    position: relative;
    top: 30vh;
    width: 80%;
}

.the-last{
    margin-bottom: 5em;
}

@media screen and (max-width: 600px){
    .iconos{
        align-content: inherit;
        top: 1vh;
        width: 100%;
    }
}